@model IEnumerable<PandaTours.Models.Location>

<br /><br />
<br /><br />
<br /><br />
<div class="container body-content">
    <h2 class="text-muted">Panda-Tours Stores</h2>
    <div class="text-right">
        <p>

            @Html.ActionLink("Add New Store", "Create")
        </p>
    </div>
    <hr />
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZIndex)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZIndex)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LocationId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
                </td>
            </tr>
        }
    </table>
    </div>


