@model PandaTours.Models.Customer

@{
    ViewBag.Title = "Details";
}

<br /><br />
<br /><br />
<br /><br />
<div class="container body-content">
    <h2 class="text-muted">Customer Details</h2>
    <div class="text-right">
        @Html.ActionLink("Back to List", "Index")
    </div>
    <div class="text-left">
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID })
    </div>
    <hr />
    <br />
    <div class="text-left">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PassportNum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PassportNum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JoinDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JoinDate)
            </dd>

        </dl>


        </div>
    </div>
